/* this adds a new color to the background of our html page */
body{
    background-color: rgb(40, 41, 42); 
}
/* this changes the font, color and alignment of our Header */
h1{
    text-align: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* this removes the bullet points from our lost and also changes the background color */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  /* this was taken from w3 schools nav bar section but this adds a better look to our list then just stacked words */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to black on hover */
li a:hover {
    background-color: #111;
  }
  /* this changes the look our our imgs so they fit on the screen better and fir side by side without major issues 
  it also adds extra padding on the top to spereate it better from the navbar without adding 15 <br> lines */
img {
    width: 350px;
    padding-inline: 55px;
    padding-top: 20px;
}
/* This helps our paragraph section stick out a little more against the dark background so we can see the description of the pictures  */
p{
  color: aliceblue;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* this changes the color of our font in our footer tag */
footer 
{
  margin-top: 40px;
  color: aliceblue;
}